@tailwind base;
@tailwind components;
@tailwind utilities;


/*Hero-title animation*/

.nav-gap {
  padding-top: 120px;
}

@media (min-width: 1280px) {
  .nav-gap {
    padding-top: 64px;
  }
}

.hero-title {
  text-align: center;
  background: linear-gradient(to right, #00afaa 0%, #312252 40%, #312252 60%, #00afaa 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
  height: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #312252;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #312252;
}


/*Menu dropdowns*/

nav li:hover>ul.submenu {
  display: grid;
}

nav ul.submenu li:hover>ul.submenu {
  display: grid;
}

nav ul.submenu li:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .03), 0 2px 4px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05);

}


/* CSS for mobile menu */
.menu-mobile {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-mobile.active {
  transform: translateX(0);
}

/* CSS for inner ul elements */
.mobilesubmenu {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobilesubmenu.active {
  transform: translateX(0);
}


/*Trustindex*/

.ti-widget {
  width: fit-content;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


/*Logo carousel*/

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (min-width: 600px) {

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
}

@media (max-width: 600px) {

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
  }
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos-slide {
  animation: 25s slide infinite linear;
}

.employers-slide {
  animation: 30s slide2 infinite linear;
}

/*Progressbar*/

.progressBar {
  width: 100%;
  height: 25px;
  background-color: #f3f3f3;
  border-radius: 15px;
  overflow: hidden;
}

.filler {
  height: 100%;
  background-color: #00afaa;
  color: white;
  text-align: center;
  transition: width .5s ease-out;
  /* Adjust the transition timing here */
}

/*Hide default checkmark at jobfilters*/

.jobfiltercheckmark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/*Company highlights list before*/

#highlights-list-left::before {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #00afaa;
  color: #fff;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 32px;
  top: 0%;
  right: -50px;
  width: 150px;
  height: fit-content;
  text-align: center;
}

@media (min-width: 1024px) {
  #highlights-list-left::before {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #00afaa;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 32px;
    top: 27%;
    right: -150px;
    width: 150px;
    height: fit-content;
    text-align: center;
  }
}

#highlights-list-left::after {
  display: none;
}

@media (min-width: 1024px) {
  #highlights-list-left::after {
    position: absolute;
    top: 23%;
    right: 100px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content: " ";
  }
}

#highlights-list-right::before {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #00afaa;
  color: #fff;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 32px;
  top: 30%;
  left: 100px;
  width: 150px;
  height: fit-content;
  text-align: center;
}

@media (min-width: 1024px) {
  #highlights-list-right::before {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #00afaa;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 32px;
    top: 75%;
    left: 0%;
    width: 150px;
    height: fit-content;
    text-align: center;
  }
}

#highlights-list-right::after {
  display: none;
}

@media (min-width: 1024px) {
  #highlights-list-right::after {
    position: absolute;
    top: 67%;
    left: 100px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 0 solid white;
    border-right: 14px solid white;
    border-bottom: 14px solid transparent;
    content: " ";
  }
}

/*Onboarding highlights list before*/

#onboarding-list-left::before {
  position: absolute;
  background: #00afaa;
  color: #fff;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 32px;
  top: 5px;
  right: 5px;
  width: fit-content;
  height: fit-content;
}

@media (min-width: 1024px) {
  #onboarding-list-left::before {
    position: absolute;
    background: #00afaa;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 32px;
    top: 25%;
    right: -1.25em;
    width: fit-content;
    height: fit-content;
  }
}

#onboarding-list-left::after {
  display: none;
}

@media (min-width: 1024px) {
  #onboarding-list-left::after {
    position: absolute;
    top: 26%;
    right: 50px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content: " ";
  }
}

#onboarding-list-right::before {
  position: absolute;
  background: #00afaa;
  color: #fff;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 32px;
  top: 85px;
  right: 5px;
  width: fit-content;
  height: fit-content;
}

@media (min-width: 1024px) {
  #onboarding-list-right::before {
    position: absolute;
    background: #00afaa;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 32px;
    top: 70%;
    left: -1.25em;
    width: fit-content;
    height: fit-content;
  }
}

#onboarding-list-right::after {
  display: none;
}

@media (min-width: 1024px) {
  #onboarding-list-right::after {
    position: absolute;
    top: 71%;
    left: 50px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 0 solid white;
    border-right: 14px solid white;
    border-bottom: 14px solid transparent;
    content: " ";
  }
}

.shadow-highlights {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*first blog tile full width*/
.full-width-tile {
  grid-column: span 3;
}

.map-container {
  width: 100%;
  height: 100%;
}

/* FAQ animations */

.faq-item-content-open {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/*Job page styling*/

.job-list ul li {
  list-style-type: disc;
}